@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    margin: 0;
    padding: 0;
    background-image: url(../SiteKarpo/assets/algodao.png);
    background-repeat: no-repeat;
    background-color: #B7A19A;
    background-size: cover; /* ou background-size: contain; dependendo da preferência */
    font-family: 'Inter', sans-serif; /* Aplicando a fonte Inter */
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 100px; /* Espaçamento do cabeçalho */
    
}

#logo-karpos img {
    margin-left: auto; /* Espaçamento da esquerda */
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul a {
    text-decoration: none;
    color: #DBEAEC; /* Cor do texto do menu */
    margin: 0 49px; /* Espaçamento entre os itens do menu */
}

#social-medias img {
    margin-right: auto; /* Espaçamento da direita */
}

.containerPai{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 350px;
    color: #DBEAEC;
    font-family: 'Inter', sans-serif;
    margin-top: 100px;
 
}

#titulo{
    justify-content: center;
    font-size: 45px;
    align-items: center;
    margin-bottom: 20px;
}

.texto-sn {  
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.container2 {
    font-size: 19px;
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 500px;
    color: #DBEAEC ;
    margin-top: 80px;

}
